body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

#bg-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.content {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.profile-card {
    width: 500px;
    padding: 30px;
    color: rgb(0, 203, 244);
    text-align: center;
    max-width: 100%;
    box-sizing: border-box;

}

.avatar {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid white;
    box-shadow:
        0 0 10px #00aaff,
        0 0 20px #00aaff,
        0 0 40px #00aaff;
}

.profile-card h2 {
    margin: 15px 0 5px;
    font-size: 32px;
    text-shadow:
        0 0 5px #00aaff,
        0 0 10px #00aaff,
        0 0 20px #00aaff,
        0 0 40px #00aaff;
}

.social {
    justify-content: center;
    margin: 15px 0 5px;
    color: white;
    font-size: 28px;
    display: flex;
    gap: 20px;
}

.social i:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.social a {
    color: #00d9ff;
    text-decoration: none;
    font-size: 28px;
    transition: 0.3s;
}

.social a:hover {
    text-shadow:
        0 0 5px #00d9ff,
        0 0 15px #00d9ff,
        0 0 30px #00d9ff;

    transform: scale(1.15);
    color: #00ffff;
}

@keyframes glow {

    0%,
    100% {
        text-shadow:
            0 0 10px #00aaff,
            0 0 20px #00aaff;
    }

    50% {
        text-shadow:
            0 0 20px #00aaff,
            0 0 40px #00aaff,
            0 0 60px #00aaff;
    }
}

.profile-card h2 {
    animation: glow 2s infinite ease-in-out;
}

@media (max-width: 768px) {

    #bg-video {
        transform: scale(1.25) translateY(-30px);
    }

    .profile-card {
        width: 90%;
        max-width: 400px;
        padding: 20px;
    }

    #music-btn {
        top: 10px;
        right: 10px;
        padding: 8px 12px;
        font-size: 12px;
    }

    .avatar {
        width: 120px;
        height: 120px;
    }

    .profile-card h2 {
        font-size: 28px;
    }

    .status {
        font-size: 15px;
    }

    .role {
        font-size: 14px;
        line-height: 1.6;
        max-width: 100%;
    }

    .social {
        gap: 18px;
    }

    .social a {
        font-size: 26px;
    }

    #clock {
        font-size: 20px;
    }

    #music-btn:hover {
        background: rgba(255, 255, 255, 0.2);
        transform: scale(1.05);
    }

    #music-btn:active {
        transform: scale(0.95);
        background: rgba(255, 255, 255, 0.3);
    }
}

/* Mobile */
@media (max-width: 480px) {

    #bg-video {
        transform: scale(1.4) translateY(-50px);
    }

    .content {
        padding: 15px;
    }

    .profile-card {
        width: 100%;
        padding: 15px;
    }

    #music-btn {
        top: 10px;
        right: 10px;
        padding: 8px 12px;
        font-size: 12px;
    }

    .avatar {
        width: 90px;
        height: 90px;
    }

    .profile-card h2 {
        font-size: 24px;
    }

    .status {
        font-size: 14px;
    }

    .role {
        font-size: 13px;
        padding: 0;
    }

    .music,
    .profile-card p {
        font-size: 13px;
    }

    .social {
        gap: 15px;
        flex-wrap: wrap;
    }

    .social a {
        font-size: 24px;
    }

    #clock {
        font-size: 18px;
        letter-spacing: 1px;
    }

    #music-btn:hover {
        background: rgba(255, 255, 255, 0.2);
        transform: scale(1.05);
    }

    #music-btn:active {
        transform: scale(0.95);
        background: rgba(255, 255, 255, 0.3);
    }
}

.status {
    color: #00ff88;
    font-size: 16px;
    font-weight: bold;
    padding-top: 20px;
    margin-bottom: 10px;
    text-shadow:
        0 0 5px #00ff88,
        0 0 15px #00ff88;
}

.profile-card p:nth-of-type(1) {
    color: #ffffff;
    font-size: 17px;
    margin-top: -5px;
    margin-bottom: 15px;
}

.profile-card p:last-of-type {
    color: #00d9ff;
    font-size: 15px;
    margin-top: 15px;
    text-shadow: 0 0 10px #00d9ff;
}


#music-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 14px;
    z-index: 999;
}

#music-btn:hover {
    background: rgba(255, 255, 255, 0.2);
    text-shadow:
        0 0 5px #00d9ff,
        0 0 15px #00d9ff,
        0 0 30px #00d9ff;

    transform: scale(1.15);
    transition: 0.3s;
    color: #00ffff;
}


#clock {
    margin-top: 20px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
    text-shadow:
        0 0 5px #00aaff,
        0 0 10px #00aaff,
        0 0 20px #00aaff;
}